@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
  color: #02b875;
  transition: 0.5s ease-in-out;
}

.menu ul li:hover a {
  color: #02b875; /* Màu mới khi hover */
  transition: 0.3s ease-in-out; /* Hiệu ứng chuyển màu mượt mà */
}
.hero::after {
  content: "";
  display: block;
  height: 30px; /* Adjust the spacing height as needed */
}

.hero .overlay {
  opacity: 0;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.hero .overlay .hide {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.hero .box .icon:hover .show {
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.hero .box .icon :hover .hide,
.hero .box:hover .overlay {
  opacity: 1;
}


.is-sticky {
  position: fixed;
  top: 10px;
  z-index: 9;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
}

@media screen and (max-width: 768px) {
  .is-sticky {
    position: relative;
  }
}

@media (max-width: 848px) {
  .sidebar {
    order: 1; /* Đặt thứ tự xuất hiện của sidebar sau phần Artist */
    margin-top: 20px; /* Tạo khoảng cách giữa phần Artist và sidebar */
  }
}

@media (max-width: 923px) {
  .artist-img {
    width: 32px;
    height: 32px;
  }
}

#hero{
  margin-top: 40px;
  }